*.user
.vs/
/.vscode
src/DeliveryService.Services.Identity/obj/
src/DeliveryService.Services.Identity/bin/
src/DeliveryService.Services.Activities/obj/
src/DeliveryService.Services.Activities/bin/
src/DeliveryService.Services.Points/obj/
src/DeliveryService.Services.Points/bin/
src/DeliveryService.Api/bin/
src/DeliveryService.Api/obj/
src/DeliveryService.Common/bin/
src/DeliveryService.Common/obj/
tests/DeliveryService.Services.Api.Tests/obj
tests/DeliveryService.Services.Api.Tests/bin
tests/DeliveryService.Services.Points.Tests/bin
tests/DeliveryService.Services.Points.Tests/obj
/tests/DeliveryService.Api.Tests/obj
